body {

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button{
  color: white
}
button:hover{
  outline:none;
  background-image: -webkit-linear-gradient(right, #2b56f5 0%, #46bdf4 100%);
  background-image: -webkit-gradient(linear, right top, left top, from(#2b56f5), to(#46bdf4));
  background-image: -o-linear-gradient(right, #2b56f5 0%, #46bdf4 100%);
  background-image: linear-gradient(to left, #2b56f5 0%, #46bdf4 100%);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a:hover{
  text-decoration: none;
}

.main-wraper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; 
  margin: 0;
  padding: 0;
}
nav {
  background-color: transparent;
}

#mainNavbar .nav-link:hover {
  color: #F07B2A;
}


.navbar.scrolling {
  background-image: -webkit-gradient(linear, right top, left top, from(#46bdf4), to(#2b56f5));
  background-image: -webkit-linear-gradient(right, #46bdf4 0%, #2b56f5 100%);
  background-image: -o-linear-gradient(right, #46bdf4 0%, #2b56f5 100%);
  background-image: linear-gradient(to left, #46bdf4 0%, #2b56f5 100%);
  -webkit-transition: background 731ms ease-in;
  -o-transition: background 731ms ease-in;
  transition: background 731ms ease-in;
}

.carousel-indicators li{
  background-color: white;
}
/* ------------------JUMBOTRON SLIDER-------------------------------------------------------- */
.jumbotron{
 margin-bottom: 0;
 border-radius:0;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 min-height: 85vh;
 /* padding:     7rem 9rem; */

 color: white;
}

.jumbotron h1{
  opacity:0;
  -webkit-transform: translatey(-40%);
      -ms-transform: translatey(-40%);
          transform: translatey(-40%);
  -webkit-animation: 1s slidefadeYDown 0.5s forwards;
          animation: 1s slidefadeYDown 0.5s forwards;
}
@-webkit-keyframes slidefadeYDown {
    100% {
      opacity: 1;
      -webkit-transform: translatey(0%);
              transform: translatey(0%);
}
}
@keyframes slidefadeYDown {
    100% {
      opacity: 1;
      -webkit-transform: translatey(0%);
              transform: translatey(0%);
}
}

.jumbotron p{
  opacity:0;
  -webkit-transform: translatex(-40%);
      -ms-transform: translatex(-40%);
          transform: translatex(-40%);
  -webkit-animation: 1s slidefadeXRight 1.5s forwards;
          animation: 1s slidefadeXRight 1.5s forwards;
}

@-webkit-keyframes slidefadeXRight {
    100% {
    opacity: 1;
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
}
}

@keyframes slidefadeXRight {
    100% {
    opacity: 1;
    -webkit-transform: translatex(0%);
            transform: translatex(0%);
}
}

.jumbotron>a.btn{
  opacity:0;
  -webkit-transform: translatey(50%);
      -ms-transform: translatey(50%);
          transform: translatey(50%);
  -webkit-animation: 1s slidefadeXRight 2.5s forwards;
          animation: 1s slidefadeXRight 2.5s forwards;


}
a.btn{
  color: white;
  outline: none;
  background: -webkit-gradient(linear, left top, right top, color-stop(22%, rgba(1,95,169,1)), color-stop(54%, rgba(5,203,252,1)), color-stop(91%, rgba(240,123,42,1)));
  background: -webkit-linear-gradient(left, rgba(1,95,169,1) 22%, rgba(5,203,252,1) 54%, rgba(240,123,42,1) 91%);
  background: -o-linear-gradient(left, rgba(1,95,169,1) 22%, rgba(5,203,252,1) 54%, rgba(240,123,42,1) 91%);
  background: linear-gradient(90deg, rgba(1,95,169,1) 22%, rgba(5,203,252,1) 54%, rgba(240,123,42,1) 91%);  outline:none;
  -webkit-transition: background-image 3s;
  -o-transition: background-image 3s;
  transition: background-image 3s;
}
a.btn:hover{
  outline:none;
  background-image: -webkit-linear-gradient(right, #2b56f5 0%, #46bdf4 100%);
  background-image: -webkit-gradient(linear, right top, left top, from(#2b56f5), to(#46bdf4));
  background-image: -o-linear-gradient(right, #2b56f5 0%, #46bdf4 100%);
  background-image: linear-gradient(to left, #2b56f5 0%, #46bdf4 100%);

}

@-webkit-keyframes slidefadeYUP {
    100% {
    opacity: 1;
    transform: translatey(0%);
    -webkit-transform: translatey(0%);
    -moz-transform: translatey(0%);
    -ms-transform: translatey(0%);
    -o-transform: translatey(0%);
}
}

@keyframes slidefadeYUP {
    100% {
    opacity: 1;
    transform: translatey(0%);
    -webkit-transform: translatey(0%);
    -moz-transform: translatey(0%);
    -ms-transform: translatey(0%);
    -o-transform: translatey(0%);
}
}


.jumbo1{
background-image: url("components/Landing/landing1HD.jpg");


}
.jumbo2{
  background-image: url("components/Landing/landing2HD.jpg");
  
}
.jumbo3{
  background-image: url("components/Landing/landing3HD.jpg");
    
}

/* ----------------------CARD DECK----------------------------------------------- */




.divider *{
  background: -webkit-linear-gradient(#015FA9, #46bdf4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* ---------------------------------SERVICES----------------------------------- */
.card{
  background: -webkit-linear-gradient(#015FA9, #46bdf4);
  color: white;
}

/* --------------------------------------FB------------------------------------ */

@supports (-webkit-overflow-scrolling: touch) {
  .FB {
 min-height: 300px;
 background-attachment: initial;
 -webkit-background-attachment: initial;

 }
}



.FB{
  min-height:45vh;
  background-image: url("components/Landing/fb1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


.FB h1, .FB p{
  background: -webkit-linear-gradient(#015FA9, #46bdf4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 400;
}

 button{
  background: -webkit-gradient(linear, left top, right top, color-stop(22%, rgba(1,95,169,1)), color-stop(54%, rgba(5,203,252,1)), color-stop(91%, rgba(240,123,42,1)));
  background: -webkit-linear-gradient(left, rgba(1,95,169,1) 22%, rgba(5,203,252,1) 54%, rgba(240,123,42,1) 91%);
  background: -o-linear-gradient(left, rgba(1,95,169,1) 22%, rgba(5,203,252,1) 54%, rgba(240,123,42,1) 91%);
  background: linear-gradient(90deg, rgba(1,95,169,1) 22%, rgba(5,203,252,1) 54%, rgba(240,123,42,1) 91%);  outline:none;

 }
/* =================================Courses==================================== */




/* -----------------------------------CONTACT------------------------------- */
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

.CallDiv * {
  background: -webkit-linear-gradient(#015FA9, #46bdf4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
}
.Bouncing{
-webkit-animation: bounce 2s infinite;
        animation: bounce 2s infinite;

}

@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-20px);transform: translateY(-20px);}
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);transform: translateY(0);}
  40% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
  60% {-webkit-transform: translateY(-20px);transform: translateY(-20px);}
} 
/* -------------------FOOTER------------------------------------------------------ */
#footerContainer {
  color: whitesmoke;
  background-image: -webkit-gradient(linear, right top, left top, from(#46bdf4), to(#2b56f5));
  background-image: -webkit-linear-gradient(right, #46bdf4 0%, #2b56f5 100%);
  background-image: -o-linear-gradient(right, #46bdf4 0%, #2b56f5 100%);
  background-image: linear-gradient(to left, #46bdf4 0%, #2b56f5 100%);
  margin: auto auto 0 auto;
  
}

/* =================CARD COLUMNS========================== */
@media (min-width: 576px) {
  .card-columns {
      column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
      column-count: 3;
  }
}

@media (min-width: 992px) {
  .card-columns {
      column-count: 4;
  }
}

@media (min-width: 1200px) {
  .card-columns {
      column-count: 4;
  }
}
/* ================================================FOTER================== */
#footerContainer a{
  color: whitesmoke;
}
#footerContainer a:hover{
  text-decoration: none;
  cursor: pointer;
  color: #F07B2A
}
.law{
  font-size: 0.75rem;
  margin: 20px 20px 0px 20px;
}

/* ============ONLINE LESSON */
.badge{
  cursor: pointer;
}


/* images for mobile */

@media only screen and (max-width: 600px) {
  .jumbo1{
     background-image: url("components/Landing/landing1SD.jpg");
      
      }
  .jumbo2{
        background-image: url("components/Landing/landing2SD.jpg");
        
        }
      
  .jumbo3{
          background-image: url("components/Landing/landing3SD.jpg");
          
          }
    .FB   {
      background-image: url("components/Landing/fb1SD.jpg");
    }

      
  } 
